html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    text-align: center;

    @media (min-width: 1440px){
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    position: relative;
}

.bg-top-mobile{
    display: none;

    @media (max-width: 375px) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.bg-btm-mobile{
    display: none;

    @media (max-width: 375px) {
        position: absolute;
        bottom: 0;
        right: 0;
    }

}

.bg-top-desktop{
    display: none;

    @media (min-width: 1440px) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
}



.bg-btm-desktop{
    display: none;

    @media (min-width: 1440px) {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

    
h1, h2, h3{
    margin: 0;
}

.dark-magenta{
    color: $dark-magenta;
}

